html {
    height: 100%;
}
body {
    min-height: 100%;
}
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

.glogoimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.form {
    margin: auto;
    width: 100%;
}
.formsmall {
    width: 100%;
}